parameters:
    level: 9
    paths:
        - src
        - examples
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    ignoreErrors:
        -
            identifier: property.onlyWritten
            path: examples/